.page { display: none; }
.page.active { display: block; }

.card { transition: transform 0.3s; }
.card:hover { transform: scale(1.05); }
.character-img { height: 300px; object-fit: cover; }
.activity-img { height: 120px; object-fit: contain; }
.card-body p { font-size: 0.9rem; }
